 header {
  background-color: black;
  height:70px;
  position:fixed;
  display: flex;
  width:100%;
  top:0px;
  left: 0px;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
  z-index: 25;
}
body{
  background-color: black;
  font-family:Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  display:inline-flex;
  justify-content: center;
}
 header #logo img{
  height:50px;
  padding-left: 10px;
}
.navbar a:visited, .navbar a:link{
  color:seashell;
  padding: 20px 10px;
}
.mission{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
background-position: center;
  width:1200px;
  display:flex;
  margin-top: 70px;
  justify-content: center;
  text-align: center;
  height:700px;
}
.mission .mission2 h2{
  display: flex;
  justify-content: center;
margin-top: 300px;
}
.main-content{
  width: 100%;
}
